body {
  background-image: url("../img/UnitedNations.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

h1 {
  text-align: center;
  margin-top: 5rem;
  color: #fff;
}
